.todo {
  &__wrapper {
    margin: 30px;
    padding: 15px;
    background-color: #ffec8b;
    display: inline-block;
    min-height: 300px;
    border-radius: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__text {
    cursor: pointer;
    &--completed {
      text-decoration: line-through;
      color: #6c7a89;
    }
  }

  &__input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
  }

  &__add-button {
    margin-left: 10px;
    background-color: #f5d76e;
    padding: 0;
    border: none;
    padding: 5px;
  }

  &__delete-button {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    &:hover {
      &::before,
      &::after {
        background: #6c7a89;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #000;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }
}
